body, html {
  width: 100%;
  height: 100%;
}

::selection {
  background: #2196f3;
  color: white;
}

::-moz-selection {
  background: #2196f3;
  color: white;
}

::-webkit-selection {
  background: #2196f3;
  color: white;
}

.loadingBar {
  position: fixed;
  z-index: 3;
  top: 0;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  font-size: 1.2em;
}

code {
  box-shadow: none;
  color: inherit;
  font-weight: 100;
}

code::before {
  content: '';
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
